
#backend

backend/bin/
backend/vendor/
backend/tmp/
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib

backend/*.test

backend/*.out

backend/go.work
backend/go.work.sum


backend/extracted_files/


backend/.env

#frontend


frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/build/


# Logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
