/* ChatRoomPage.css */
.chat-room-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .messages {
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
  }
  
  .message {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color:black
  }
  
  input {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }